<div>
    <blockquote>
        <h3>Admin Center</h3>
    </blockquote>
</div>
<div class="col-md-12 col-sm-12" style="text-align: center;">
    <div class="col-md-12 col-sm-12" style="padding-left: 10px;">
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="UserList"
           title="User List">User List</a>
    </div>
    <div class="col-md-12 col-sm-12" style="padding-left: 10px;">
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="AddGames"
           title="Add Games">Add Games</a>
    </div>
    <div class="col-md-12 col-sm-12" style="padding-left: 10px;">
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="BulkEmail"
           title="Send Bulk Email">Send Custom Email</a>
    </div>
    <div class="col-md-12 col-sm-12" style="padding-left: 10px;">
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="SendPickReminderEmail"
           title="Send Pick Reminder Email">Send Pick Reminder Email</a>
    </div>
</div>
