@model CollegePick10V2.Entities.Models.PayoutModel
<div class="col-lg-12 bg-info">
    <div style="margin: 0px;">
        Weekly prize pool: @Html.DisplayFor(modelItem => Model.WeeklyTotal)/week<br />
        End of the year prize pool: @Html.DisplayFor(modelItem => Model.SeasonTotal)<br />
        @{
            int i = 0;
        }
        @foreach (var item in Model.Payouts)
        {
            @Html.DisplayFor(modelItem => item.Label)@::@Html.DisplayFor(modelItem => item.Amount)
            i++;
            if (i % 2 == 0)
            {
                @:<br />
            }
            else
            {
                @:|
            }
        }
        <br /><a href="https://collegepick10.com/Home/Rules#payout">Full Payout Structure</a>
    </div>
</div>